<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JC</title>
  <script src="//cdn.jsdelivr.net/npm/showdown@latest/dist/showdown.min.js"></script>
  <script src="//code.jquery.com/jquery-3.4.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <article></article>
  <script>
    var converter = new showdown.Converter();
    $('article').load('blocks/{{block_hash}}', function() {
      $('article').html(converter.makeHtml($('article').html()));
    });
  </script>
</body>
</html>

