<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.title %}
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="http://jck.im{{ page.url }}"/>
        <meta property="og:site_name" content="{{ site.name }}"/>
        {% else %}
        <meta property="og:title" content="{{ site.name }}"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:url" content="http://jck.im/"/>
        <meta property="og:site_name" content="{{ site.name }}"/>
        {% endif %}

        {% if page.description %}
        <meta content="{{ page.description }}" property="og:description">
        {% else %}
        <meta content="{{ site.description }}" property="og:description">
        {% endif %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {{ content }}
            <hr />
            <address class="text-info">
                <span class="glyphicon glyphicon-user"></span> <a href="/">JCKim</a><br />
                <span class="glyphicon glyphicon-briefcase"></span> Programmer<br />
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:shinvee@gmail.com">shinvee@gmail.com</a><br />
                <span class="glyphicon glyphicon-home"></span> <a href="https://github.com/shinvee">http://github.com/shinvee</a>
            </address>
          </div>
        </div>
      </div>
    </body>
</html>
